BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 100
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
SortIncludes: true
IncludeBlocks: Preserve
SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
DerivePointerAlignment: false
SpaceAfterCStyleCast: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ReflowComments: true
Cpp11BracedListStyle: true
IndentCaseLabels: true
IndentGotoLabels: true
